body{
    font-family: sans-serif;
}
.rating{
    float: right; 
    width: 35vw;
    height: 25vh;
    margin-right: 13.5%;
    display: grid; 
    padding-top: 20px; 
}
.item1{
    height: 5vh;
    width: 25vw;
    font-size: xx-small;
    font-weight: bolder;
    border-radius: 5px;
    justify-self: center; 
    background-color: rgba(128, 0, 128, 0.075); 
    text-align: center; 
    padding-top: 5px;
    color: rgb(75, 0, 38);
}
.rat{
    padding-left: 5px;
}
.item1:nth-of-type(1){
    justify-self: start;
    
}
.item1:nth-of-type(3){
    justify-self: end;
}
.write_up{
    margin: 12vh 0% 0% 15.3%;
    width: 24vw;
    height: 35vh;
}
.ten{
    font-size: x-large;
    color: rgb(75, 0, 38);
    font-weight:bolder;
}
.we{
    font-size: xx-small;
    color:  rgba(75, 0, 37, 0.582);
    
}
.all_box{
    margin: 5vh 12% 0% 12% ;
    padding: 0px 0px 0px 15px;
    height: 39vh;
    display: grid;
    grid-template-columns: auto auto auto;
}
.one_box{
    margin: 10px auto;
    width: 44vh;
    height: 30vh;
    border-radius: 5px;
    background-color: rgb(75, 0, 38);
    display: grid;
    grid-template-columns: 10vh auto; 
    grid-template-rows: 6vw ;
    gap: 5px;
}
.item{
    padding: 5px 0px 0px 0px;
    font-size: xx-small;
}
.c1{
    color: white;
}
.d1{
    color: rgb(177, 27, 109);
}
@media only screen and (max-width: 480px) {
   
  }
.it{
    color :white;
    margin: 5.5px 15.6px 15.6px 15.6px;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: xx-small;
}
.img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.item:nth-of-type(1){
    justify-self: end;
    align-self: end;
}
.item:nth-of-type(2){
    width: 8vw;
    height: auto; 
    margin: 23.5px 0px 0px 5px ;
}

